/* Background Images styles
-------------------------------------------------- */
body, html {
    height: 100%;
}



#AboutBackground {
    background-image: url("../images/dkbfsandy.png");
    background-repeat: no-repeat;
    background-position: center;
    /* Full height */
    height: 100%;
   
    background-size: cover;
}
